{% extends 'base.html' %}

{% block content %}
<section class="navpage">

</section>
    <div class="container search">
        <div class="display">
            <form action="{% url 'search' %}" method="get">
                <input type="text" name="q" size="30" placeholder="What are you looking for?">
                <button type="search">Search</button>
            </form>
        </div>
    </div>
<div class="deck">
<div class="card-deck">
    {% for product in products %}
        <div class="card">
            <a href="{% url 'see_product' product.id %}">
                <div class="image-container">
                    <img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img-top img-responsive" alt="product image">
                </div>
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">Price: €{{ product.price }}</p>

            </div>
        </div>
    {% endfor %}
</div>
</div>


