{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<section class="navpage">

</section>
<div class="card mb-3">
    {% for item in cart_items %}
         <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-5 row-flex cart-list">
                        <div class="image-container">
                            <img src="{{ MEDIA_URL }}{{ item.product.image }}" class="card-img-top img-responsive" alt="product image">
                        </div>
                    </a>
                    </div>
                    <div class="card-body cart-list">
                        <h5>{{ item.product.name }}</h5>
                        <p class="card-text">{{ item.product.description }}</p>
                        <p class="card-text">Quantity: {{ item.quantity }}</p>
                        <p class="card-text">Price per unit: €{{ item.product.price}}</p>
                    </div>
                </div>
         </div>
    {% endfor %}

    <div class="card-footer">
        <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>Total: €{{ total }}</p>
    </div>
</div>
<div class="form-middle container-sm">
    <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
        <legend>Payment Details</legend>

        <div id="credit-card-errors" style="display: none;">
            <div id="alert-message block-message error" id="stripe-error-message"></div>
        </div>

        <div class="form-group">
            {{ order_form | as_bootstrap }}
        </div>

        <div class="form-group">
            {{ payment_form | as_bootstrap }}
        </div>

        {% csrf_token %}
        <div class="form-group col-md-12">
            <input class="btn btn-warning" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
        </div>
    </form>
</div>
{% endblock %}