{% extends 'base.html' %}

{% block content %}

<section class="home">
</section>
<section class="about">
<h2> About</h2>
<h3> Antiquities are Ireland's Premier Specialist Art and Collectibles</h3>
<p id="aboutme">In eight to ten years we offer an unrivalled range of art and collectibles.
Antiquities have an unequalled reputation for integrity and discretion acquired over more than two centuries of family
    Prices range from $200 to over $100 million. Antiquities also has a long and successful history conducting private sales
    for its clients in all categories.
    business in Dublin.<br>
    Thank you for visiting. We welcome your comments and enquiries and look forward to being of service to you. </p>
</section>

{% endblock %}