{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}Login Page{% endblock %}

{% block page_heading %}User Login{% endblock %}

{% block content %}
<section class="navpage">

</section>
<div class="loginage">
    <h2>Sign in</h2>
        <form method="POST">
            {% csrf_token %}
            {{ login_form | as_bootstrap }}
            <button type="submit" class="btn btn-default">Login</button>
        </form>
</div>
    <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
{% endblock %}