{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
<section class="navpage">

</section>
    <div class="form-middle">
        <div class="card">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">{{ question.question }}</label>
                    <input type="text" class="form-control" id="textarea" aria-describedby="question" rows="4" cols="50">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

