{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
<section class="navpage">

</section>
<div class="row row-flex">
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <p>{{ bids.name }}</p>
        <p>{{ bids.description }}</p>
        <p>{{ bids.price }}</p>
        <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ bid.image }}')"></div>
        <!--Bidder: <input type="text" name="country" value="{{ user }}" readonly><br>-->
        <form method="POST" enctype="multipart/form-data">
            <div class="input-group">
                {% csrf_token %}
                    {{ form | as_bootstrap }}
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Bid</button>
            </div>
        </form>
        <div id="timebid">
            Date :
        </div>
        <div>You have bidded {{ bids.price }}</div>
    </div>
</div>
 <!--   <div class="container">
        <div class="display">
            <form action="{% url 'search' %}" method="get">
                <input type="text" name="q">
                <button type="search">Search</button>
            </form>
        </div>
    </div> -->
    <script>
// Set the date we're counting down to
var countDownDate = new Date({{ bids.date }});

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Output the result in an element with id="demo"
  document.getElementById("timebid").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is over, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
{% endblock %}



("Jan 5, 2021 15:37:25")