{% extends 'base.html' %}

{% block content %}
<section class="navpage">

</section>
<div class="deck">
<div class="card-deck">
    {% for item in items %}
        <div class="card">
            <a href="{% url 'item' item.id %}">
                <div class="image-container">
                    <img src="{{ MEDIA_URL }}{{ item.image }}" class="card-img-top img-responsive" alt="product image">
                </div>
            </a>
            <div class="card-body">
                <h5>{{ item.name }}</h5>
                <p class="card-text">{{ item.description }}</p>

            </div>
            <div class="card-footer">
                <small class="card-text">€{{ item.price }}</small>
            </div>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}