{% extends 'base.html' %}

{% block content %}
<section class="navpage">

</section>
<div class="card-columns">
    {% for item in items %}
        <div class="card">
            <a href="{% url 'item' item.id %}">
                <div class="image-container">
                    <img src="{{ MEDIA_URL }}{{ item.image }}" class="card-img-top img-responsive" alt="product image">
                </div>
            </a>
            <div class="card-body">
                <h5>{{ item.name }}</h5>
                <p class="card-text">{{ item.description }}</p>
                <p class="card-text">€{{ item.price }}</p>
                <a href="{% url 'item' item.id %}">
                    <button class="btn btn-success" type="submit">Bid</button>
                </a>
                {% comment %}<form method="post" action="{% url 'item' item.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                            <button class="btn btn-success" type="submit">Bid</button>
                        </span>
                    </div>
                </form>{% endcomment %}
            </div>
        </div>
    {% endfor %}
</div>
 <!--   <div class="container">
        <div class="display">
            <form action="{% url 'search' %}" method="get">
                <input type="text" name="q">
                <button type="search">Search</button>
            </form>
        </div>
    </div> -->
{% endblock %}